﻿@{
    ViewBag.Title = "Home Page";
}

<div id="article" class="wrapper" id="message">

     <div id="menu">
          <div id="middle">

               <div id="plic">
                    <a href="plic.html" target="_blank">
                         <img src="~/Content/img/plic.png" width="25px">
                    </a>
               </div>

               <div>
                    <button onclick="myFunction1()" id="Log10" class="other">
                         Next match
                    </button>
               </div>

               <div>
                    <a href="#" target="blank">
                         <button id="Log10" class="first">
                              Team
                         </button>
                    </a>
               </div>

               <div>
                    <a href="#" target="blank">
                         <button id="Log10" class="first">
                              Table
                         </button>
                    </a>
               </div>

               <div>
                    <a href="#" target="blank">
                         <button id="Log10" class="first">
                              Statistics
                         </button>
                    </a>
               </div>
          </div>
     </div>

     <div id="information">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">

                    <div class="carousel-item active">
                         <a href="https://www.google.ru/" target="_blank">
                              <img src="~/Content/img/bilbao.jpg" class="d-block w-100" alt="...">
                         </a>
                         <div class="content">
                              <div class="text">
                                   Barcelona și Atletic Bilbao au împărțit punctele
                              </div>
                         </div>
                    </div>

                    <div class="carousel-item">
                         <a href="https://www.google.ru/" target="_blank">
                              <img src="~/Content/img/10.jpeg" class="d-block w-100" alt="...">
                         </a>
                         <div class="content">
                              <div class="text">
                                   Barcelona a refuzat sa prelungeasca contractul cu Ivan Rakitic
                              </div>
                         </div>
                    </div>

                    <div class="carousel-item">
                         <a href="https://www.google.ru/" target="_blank">
                              <img src="~/Content/img/1.jpg" class="d-block w-100" alt="...">
                         </a>
                         <div class="content">
                              <div class="text">
                                   FC Barcelona și Atletic Bilbao au împărțit punctele
                              </div>
                         </div>
                    </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
               </a>
          </div>

     </div>
</div>
