﻿<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Barcelona</title>
     <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
           integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
           crossorigin="anonymous">

     @Scripts.Render("~/bundles/modernizr")
     <style>
          body {
               background-image: url(Content/img/2.jpg);
               background-repeat: no-repeat;
               background-size: cover;
          }
     </style>

</head>
<body>
     <div class="wrapper">
          <div id="logo">
               <a href="#">
                    <div id="image">
                         <img class="barca" src="~/Content/img/barca.png">
                    </div>
                    <div id="Barcelona">
                         <span class="B">B</span><span class="red">ar</span><span class="blue">c</span><span class="red">elo</span><span class="blue">n</span><span class="red">a</span>
                    </div>
               </a>
          </div>

          <div id="reistration">
               <div id="Login">
                    @Html.Partial("Logare")
               </div>
          </div>
     </div>
        @RenderBody()
        
     <div class="wrapper" id="footer">
          <div class="niv4">
               <marquee direction="right">
                    <span class="copy"> &copy; 2019 </span>
                    <span class="new">Visca el Barça </span>
                    <span class="copy">. Visca Catalunya!</span>
               </marquee>
          </div>

          <div id="right">
               <div class="facebook">
                    <a href="http://facebook.com" target="_blank" title="facebook">
                         <img src="~/Content/img/facebook.jpg" height="35px">
                    </a>
               </div>
               <div class="telegram">
                    <a href="https://telegram.org/" target="_blank" title="twitter">
                         <img src="~/Content/img/telegram.png" height="35px">
                    </a>
               </div>

               <div class="twitter">
                    <a href="http://twitter.com" target="_blank" title="ok">
                         <img src="~/Content/img/twitter.png" height="35px">
                    </a>
               </div>
          </div>
     </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
