﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

     <div id="registration">
          <div id="Log">
               <div id="Log">
                    @Html.ActionLink(" ","Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
               </div>
               <div id="Reg">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
               </div>
          </div>
     </div>
    }
}
else
{
     <div id="registration1">
          <div id="Login1">
               <div id="Log1">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
               </div>
               <a href="registrare.html">
                    <div id="Reg1">
                         @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </div>
               </a>
          </div>
     </div>
}
